.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  font-family: sans-serif;
}

.logo {
  display: block;
  margin: 0 auto 20px;
}

input[type='email'],
input[type='password'] {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background: #03cf5d;
  color: white;
  border: none;
  cursor: pointer;
}

.form-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper input[type='checkbox'] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2; /* 포커스 가능하게 */
  margin: 0;
}

.checkbox-wrapper .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  pointer-events: none;
  margin-right: 5px;
}

.checkbox-wrapper .icon.checked {
  display: none;
}

.checkbox-wrapper input:checked ~ .icon.checked {
  display: inline-block;
}

.checkbox-wrapper input:checked ~ .icon.unchecked {
  display: none;
}

.checkbox-wrapper:focus-within {
  outline: 2px solid #24388d;
  border-radius: 4px;
}

.error-message {
  display: none;
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-left: 10px;
}

.ip-security-toggle input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ip-security-text {
  text-decoration: none;
  color: #121212;
}

/* 입력창이 포커스 잃었고 유효하지 않을 때 에러 표시 */
input:invalid:focus,
input:invalid:focus + .error-message,
input:invalid:not(:placeholder-shown) + .error-message {
  display: block;
}

.ip-security-toggle label {
  cursor: pointer;
}

.ip-security-toggle .on {
  color: green;
  display: none;
}

#ipSwitch:checked + label .on {
  display: inline;
}

#ipSwitch:checked + label .off {
  display: none;
}
